* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
    background: #f5f5f5;
    min-height: 800px;


    main {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        min-width: 350px;
        
        width: 95%;
        
        background: rgb(235, 236, 210);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


        .logo {
            width: 60%;
            height: auto;
            margin-bottom: 20px;
        }

        p {
            font-size: 12px;
            color: #333;
            margin-bottom: 20px;
        }

        .inputs {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 15px;

            margin-bottom: 20px;

            .btnUpload,
            .btnCamera,
            .btnEnviar {
                width: 200px;
                background: #f69d04;
                color: white;
                padding: 5px;
                border-radius: 8px;
                cursor: pointer;
                font-size: 16px;
                border: 1px solid #bd8d38;

                transition: 0.2s;
            }

            .btnCamera {

                background: #2196F3;

            }



            .btnUpload:hover {
                background: #45a049;
            }

            .btnCamera:hover {
                background: #0b7dda;
            }

            .fileName {
                margin-top: 15px;
                font-size: 16px;
                font-weight: bold;
                color: #333;
            }


        }

        .btnEnviar {
            width: 250px;
            height: 50px;
            background: #026a1c;
            color: white;
            padding: 5px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 20px;
            border: 1px solid #bd8d38;

            transition: 0.2s;
        }

    }
}


/* Esconde o input de arquivo */
#fileInput {
    display: none;
}

#btnReset {
    background: #f44336;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.2s;
}

#btnReset:hover {
    background: #d32f2f;
}

/* Loading */
#loading {
    display: none;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}


/* Spinner */
.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #555;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 0.8s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ========================= */
/* EXIBIÇÃO DAS IMAGENS */
/* ========================= */

#resultContainer {
    margin-top: 25px;
    text-align: center;
}

#resultContainer h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
}

#resultContainer h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #444;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.image-drop {
    flex-direction: column;
    align-items: center;
}

/* Imagens exibidas */
#imagemInicial,
#imagemContada {
    width: 100%;
    
    border-radius: 8px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}



@media (min-width: 600px) {
    .images-container {
        flex-direction: row;      /* muda de coluna para linha */
        justify-content: center;  /* centraliza horizontalmente */
        gap: 20px;                /* aumenta o espaço entre imagens */
        align-items: center;  /* opcional */
    }

    main {
        max-width: 60%;
    }
}